@media (min-width: 991px) {
  header {
    padding-left: 240px;
  }
  main {
    padding-left: 240px;
  }
  nav .brand-logo {
    padding-left: 80px;
  }
  .main-contain{
    width: 85%;
  }
}
.main-contain{
  padding-top:30px;
}
.btn-small{
  height: 30px;
  font-size: 12px;
  padding: 0 1rem;
  line-height: 30px;
}
.btn-small i{
  font-size: 1rem;
}
.btn-small i.left{
  margin-right:8px;
}
a.button-collapse.top-nav{
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 5%;
  top: 0;
  float: none;
  margin-left: 0.5rem;
  color: #fff;
  font-size: 36px;
  z-index: 2;
}
.logo-left{
/*  background-color: #ee6e73;*/
  height:150px;
}
.logo-left #logo-container{
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding-top: 80px;
}
ul.side-nav.fixed li a{
  font-size: 13px;
  line-height: 44px;
  height: 44px;
}
.bold>a{
  font-weight: bold;
}
.side-nav.fixed .collapsible-header{
    line-height: 44px;
  height: 44px;
}
.header{
  color: #ee6e73;
font-weight: 300;
}